body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#app {
    text-align: center;
}

#title {
    font-size: 36px;
    margin-bottom: 5px;
}

#version {
    font-size: 18px;
    margin-bottom: 20px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkbox-list {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.checkbox-container-main{
    display: block;
 
}
.subtask-container{
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: #e4eff6;
}


.subtask-checkbox {
    margin-right: 10px; /* Space between checkbox and its label or adjacent elements */
    vertical-align: middle; /* Aligns the checkbox with the middle of the adjacent text */
    cursor: pointer; /* Changes cursor to a hand when hovering over the checkbox */
}

.subtask-checkbox:checked + .subtask-label { /* Style for the label when the checkbox is checked */
    text-decoration: line-through; /* Strikes through the text of a completed subtask */
    color: #888; /* Changes the text color to a lighter shade indicating completion */
    opacity: 0.6; /* Reduces the visibility of completed subtasks */
}


.checkbox-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, var(--progress-color, #4790df) var(--progress, 0%), transparent var(--progress, 0%));
    position: relative;
    --progress-color: #4790df; /* Default color */
    

}

.checkbox-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--progress, 0%);
    background-color: var(--progress-color, #4790df);
    border-radius: inherit;  /* Match the border-radius of the main element */
    transition: width 0.3s ease-out;
    z-index: -1;  /* Place it below the main content */
}


.subtask-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.subtask-row button {
    margin-left: 10px; /* Add some space to the left of each button */
}



.subtask-container + .checkbox-container {
    margin-top: 10px;
}


.checkbox-label {
    flex-grow: 1;
    font-size: 18px;
    user-select: none;
}

.remove-button {
    font-size: 14px;
    border: none;
    cursor: pointer;
    background: none;
    color: #e74c3c;
}

#new-checkbox-label {
    display: none;
    margin-bottom: 10px;
    width: 180px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 18px 18px;
    /*border-top: 1px solid #ddd;*/
}

/* Common styles for both buttons */
#add-button, #complete-button {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#add-button {
    font-size: 24px;
    padding: 12px 12px;                
    background: linear-gradient(to bottom, #007BFF, #0056b3);  /* Blue gradient background */
    color: white;
}

#add-button:hover {
    background: linear-gradient(to bottom, #0056b3, #004a99);  /* Darker blue gradient on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);               /* Slightly lifted effect */
    transform: translateY(-2px);                              /* Move the button up a bit */
}

#add-button:active {
    background: linear-gradient(to bottom, #004a99, #003366); /* Even darker blue when pressed */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);               /* Pressed effect */
    transform: translateY(0px);
}

#complete-button {
    font-size: 18px;
    padding: 12px 24px;
    background: linear-gradient(to bottom, #00C851, #008732); /* Green gradient background */
    color: white;
}

#complete-button:hover {
    background: linear-gradient(to bottom, #008732, #006622); /* Darker green gradient on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

#complete-button:active {
    background: linear-gradient(to bottom, #006622, #004411); /* Even darker green when pressed */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0px);
}




#button-timer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


#reset-button{
  font-size: 14px;
  background-color: #f0f0f0;
  color: #888;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}



 #reset-button:hover, #timer-toggle-button:hover {
    background-color: #00b333;
}

#complete-message {
    font-size: 26px;             /* Slightly larger text */
    font-weight: 300;            /* Bold text */
    color: #008000;              /* A deeper shade of green */
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 30px;            /* Increased top margin for better spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);  /* Subtle text shadow for depth */
}

/* Assuming you toggle a class to show the message */
#complete-message.visible {
    opacity: 1; 
}


#counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#counter {
    margin-right: 10px;
    color: #888;
    font-size: auto;
}


#popup-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   
}

#contextMenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease; 

}

#contextMenu div {
    padding: 8px 12px;
    cursor: pointer;
}

#contextMenu div:hover {
    background-color: #f7f7f7;
    transition: opacity 0.2s;
}


.hidden {
    display: none;
}

.checkbox-container.completed {
    background-color: #4790df;/* A more attractive shade of blue */
    border: 2px solid #0056b3; /* Adding a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow for depth */
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s; /* Smooth transition effects */
}

/*.checkbox-div {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 3px;
    cursor: pointer;
}*/

.checkbox-container.completed .checkbox-label {
    color: #FFFFFF; /* Change to a color of your choice, e.g., white */
}

.tooltip-text {
    font-size: 14px;
    color: #555;
    height: 30px;
}

#tooltip-container {
    width: 200px;          /* Or whatever fixed width you desire */
    height: 200px;          /* Or whatever fixed height you desire */
    overflow: hidden; 
    pointer-events: none; /* This makes the container unclickable, allowing clicks to pass through to elements below. */
}

#progress-bar-container {
    width: 100%;
    height: 2px;  /* You can adjust this height as needed */
    background-color: #ccc;  /* A light gray background */
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;
}


#progress-bar {
    width: 0%;  /* Initially, no tasks are completed */
    height: 100%;
    background-color: #4790df;  /* The blue color for completed tasks */
    transition: width 0.3s;  /* Smooth transition effect */
}

#divider{
padding-bottom: 5px;
}

#notes-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 999;
}

#notes-panel {
    position: fixed;
    bottom: 60px; /* Adjust depending on the height of your button */
    left: 20px;
    background-color: #e4eff6;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    resize: both;  /* Allow resizing in both directions */
    overflow: auto; /* To ensure content is scrollable if it exceeds the panel size */
    width: 230px;
    
    /* Optional: set min and max dimensions */
    min-width: 100px;
    max-width: 500px;
    min-height: 100px;
    max-height: 600px;
}

#new-note-textarea {
    width:200px;
    height: 60px;
    margin-bottom: 10px;
}

#notes-list {
    max-height: auto;  /* Adjust based on desired visible area */
    overflow-y: auto;
}

.note-item input {
    width: 80%; /* or any width you prefer */
    margin-right: 5px;
}

.note-item {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;  /* Set position context for children */
    /*background-color: #f5f1c5;*/
    background-color: #f5f5f5;
    
}

.note-text {
    display: block;  /* Ensure this is a block-level element */
    margin-bottom: 5px;
}

.note-button-container {
    display: block;  /* Ensure this is a block-level element */
}

.note-delete, 
.note-edit {
    background: none;  /* Remove any default backgrounds */
    border: none;  /* Remove any default borders */
    cursor: pointer;
    margin-right: 10px;  /* Space between buttons */
    padding: 0;  /* Remove any default padding */
}

/* Optional: You can add some styles to the buttons to make them look better */
.note-delete:hover, 
.note-edit:hover {
    background-color: #f0f0f0;
}




#horizontalMenu {

    display: flex; /* To make the buttons align horizontally */
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .task-menu {
    display: none; /* initially hidden */
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #c7c7c7;
    width: 100px; /* adjust as needed */
    z-index: 10;
  }
  
  .task-menu button {
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .task-menu button:hover {
    background-color: #e7e7e7;
  }
  
  .task-menu.hidden {
    display: none !important;
}

.context-sensitive-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1000; /* Ensure it's on top */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: opacity 0.2s ease; /* A subtle fade-in effect */
    display: none; /* Initially hidden */
}

#detailsModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Details Modal Styling */
#detailsModal {
    border: 1px solid #e0e0e0;
    padding: 20px;
    background: #ffffff;
    max-width: 80%;  /*Allow it to be responsive*/
    overflow-y: auto;  /*Scrollable if content is too much*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#detailsTextarea {
    width: 60%;  /*Full width of the modal*/
    border: 1px solid #d0d0d0;
    padding: 10px;
    border-radius: 6px;
    resize: none;  /*Disable manual resizing*/
    transition: height 0.3s ease;  /*Smooth height transition*/
    background: #f5f5f5;  /*Light gray background*/
}

#editDetailsButton {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#editDetailsButton:hover {
    background-color: #0056b3;
}

.draggable {
    border: 1px dashed #d1d1d1; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.draggable:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.dragover {
    background-color: rgba(73, 71, 71, 0.22);  /* This is just an example, style as you see fit */
}



#priorityMenu {
    display: flex;
}

.marked-high {
    background-color: #ffcccc; /* Light red for high priority */
}

.marked-low {
    background-color: #ccffcc; /* Light green for low priority */
}

.marked-high.completed {
    background-color: #c22323;
    border: 2px solid #780303;
}

.marked-low.completed {
    background-color: #00C851;
    border:2px solid #037603;
}

#checkbox-list .checkbox-container.marked-high.completed.dragover,
#checkbox-list .checkbox-container.marked-low.completed.dragover,
#checkbox-list .checkbox-container.completed.dragover,
#checkbox-list .checkbox-container.dragover {
    
    background-color: rgba(73, 71, 71, 0.22);
    
}

#checkbox-list .checkbox-container.marked-high.completed.dragover {
    border: 2px dashed solid #780303;

}

#checkbox-list .checkbox-container.marked-low.completed.dragover{
    border:2px dashed solid #037603;
}

.checkbox-container-main .checkbox-container[data-progress] {
    background: linear-gradient(to right, currentColor 0%, currentColor var(--progress, 0%), transparent var(--progress, 0%));
    color: transparent;
}

.checkbox-container.marked-high {
    --progress-color: #c22323; /* High priority color */
}

.checkbox-container.marked-low {
    --progress-color: #00C851; /* Low priority color */
}

.subtask-container-high {
    background-color: #ffcccc; /* Example color for high priority */
}

.subtask-container-low {
    background-color: #ccffcc; /* Example color for low priority */
}
