/* Base Styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 110px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f0f0f0;
    /* any other body styling here */
}


#app {
    text-align: center;
}



.hidden-startup, .hidden-app {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible-startup, .visible-app {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}



.hidden-flex {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none; /* Completely removes the element */
}

.hidden-block {
    display: none; /* Overrides display: block; */
}

.hidden-inline {
    display: none; /* Overrides display: inline; */
}

.hidden {
    display: none; /* Generic class for hiding elements */
}

.block {
    display: block;
}


.main-center-container {
    display: flex; /* Ensures that children are treated as flex items */
    flex-direction: column; /* Stacks children vertically */
    gap: 10px; /* Adds a small gap between the contents */
    align-items: center; /* Centers the contents horizontally */
    justify-content: center; /* Centers the contents vertically */
    position: relative; /* Keeps the position relative for nested fixed elements */
    width: 100%; /* Optional: ensures it spans the container */
    height: 100%; /* Optional: ensures it fills the container */
}


